<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="talend-bigdata-launcher-1.2.2-20180101.jar" name="talend-bigdata-launcher-1.2.2-20180101.jar" mvn_uri="mvn:org.talend.libraries/talend-bigdata-launcher-1.2.2-20180101/6.0.0" />

        <!-- HDFS related libraries -->
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="activation-1.1.1.jar" name="activation-1.1.1.jar" mvn_uri="mvn:org.talend.libraries/activation-1.1.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="apache-log4j-extras-1.2.17.jar" name="apache-log4j-extras-1.2.17.jar" mvn_uri="mvn:org.talend.libraries/apache-log4j-extras-1.2.17/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="apacheds-i18n-2.0.0-M15.jar" name="apacheds-i18n-2.0.0-M15.jar" mvn_uri="mvn:org.talend.libraries/apacheds-i18n-2.0.0-M15/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="apacheds-kerberos-codec-2.0.0-M15.jar" name="apacheds-kerberos-codec-2.0.0-M15.jar" mvn_uri="mvn:org.talend.libraries/apacheds-kerberos-codec-2.0.0-M15/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="api-asn1-api-1.0.0-M20.jar" name="api-asn1-api-1.0.0-M20.jar" mvn_uri="mvn:org.talend.libraries/api-asn1-api-1.0.0-M20/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="api-util-1.0.0-M20.jar" name="api-util-1.0.0-M20.jar" mvn_uri="mvn:org.talend.libraries/api-util-1.0.0-M20/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="asm-3.2.jar" name="asm-3.2.jar" mvn_uri="mvn:org.talend.libraries/asm-3.2/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="avro-1.7.4.jar" name="avro-1.7.4.jar" mvn_uri="mvn:org.talend.libraries/avro-1.7.4/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="azure-data-lake-store-sdk-2.1.4.jar" name="azure-data-lake-store-sdk-2.1.4.jar" mvn_uri="mvn:org.talend.libraries/azure-data-lake-store-sdk-2.1.4/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="bcprov-jdk14-1.38.jar" name="bcprov-jdk14-1.38.jar" mvn_uri="mvn:org.talend.libraries/bcprov-jdk14-1.38/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-beanutils-1.7.0.jar" name="commons-beanutils-1.7.0.jar" mvn_uri="mvn:org.talend.libraries/commons-beanutils-1.7.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-beanutils-core-1.8.0.jar" name="commons-beanutils-core-1.8.0.jar" mvn_uri="mvn:org.talend.libraries/commons-beanutils-core-1.8.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-cli-1.2.jar" name="commons-cli-1.2.jar" mvn_uri="mvn:org.talend.libraries/commons-cli-1.2/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-codec-1.4.jar" name="commons-codec-1.4.jar" mvn_uri="mvn:org.talend.libraries/commons-codec-1.4/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-collections-3.2.2.jar" name="commons-collections-3.2.2.jar" mvn_uri="mvn:org.talend.libraries/commons-collections-3.2.2/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-compress-1.4.1.jar" name="commons-compress-1.4.1.jar" mvn_uri="mvn:org.talend.libraries/commons-compress-1.4.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-configuration-1.6.jar" name="commons-configuration-1.6.jar" mvn_uri="mvn:org.talend.libraries/commons-configuration-1.6/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-daemon-1.0.13.jar" name="commons-daemon-1.0.13.jar" mvn_uri="mvn:org.talend.libraries/commons-daemon-1.0.13/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-digester-1.8.jar" name="commons-digester-1.8.jar" mvn_uri="mvn:org.talend.libraries/commons-digester-1.8/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-el-1.0.jar" name="commons-el-1.0.jar" mvn_uri="mvn:org.talend.libraries/commons-el-1.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-httpclient-3.1.jar" name="commons-httpclient-3.1.jar" mvn_uri="mvn:org.talend.libraries/commons-httpclient-3.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-io-2.4.jar" name="commons-io-2.4.jar" mvn_uri="mvn:org.talend.libraries/commons-io-2.4/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-lang-2.6.jar" name="commons-lang-2.6.jar" mvn_uri="mvn:org.talend.libraries/commons-lang-2.6/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-lang3-3.3.2.jar" name="commons-lang3-3.3.2.jar" mvn_uri="mvn:org.talend.libraries/commons-lang3-3.3.2/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-logging-1.1.3.jar" name="commons-logging-1.1.3.jar" mvn_uri="mvn:org.talend.libraries/commons-logging-1.1.3/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-math3-3.1.1.jar" name="commons-math3-3.1.1.jar" mvn_uri="mvn:org.talend.libraries/commons-math3-3.1.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="commons-net-3.1.jar" name="commons-net-3.1.jar" mvn_uri="mvn:org.talend.libraries/commons-net-3.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="curator-client-2.6.0.jar" name="curator-client-2.6.0.jar" mvn_uri="mvn:org.talend.libraries/curator-client-2.6.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="curator-framework-2.6.0.jar" name="curator-framework-2.6.0.jar" mvn_uri="mvn:org.talend.libraries/curator-framework-2.6.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="curator-recipes-2.6.0.jar" name="curator-recipes-2.6.0.jar" mvn_uri="mvn:org.talend.libraries/curator-recipes-2.6.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="gson-2.2.4.jar" name="gson-2.2.4.jar" mvn_uri="mvn:org.talend.libraries/gson-2.2.4/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="guava-11.0.2.jar" name="guava-11.0.2.jar" mvn_uri="mvn:org.talend.libraries/guava-11.0.2/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-annotations-2.6.0-qds-0.4.14-SNAPSHOT.jar" name="hadoop-annotations-2.6.0-qds-0.4.14-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-annotations-2.6.0-qds-0.4.14-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-ant-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-ant-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-ant-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-archives-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-archives-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-archives-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-auth-2.6.0-qds-0.4.14-SNAPSHOT.jar" name="hadoop-auth-2.6.0-qds-0.4.14-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-auth-2.6.0-qds-0.4.14-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-aws-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-aws-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-aws-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-azure-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-azure-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-azure-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-azure-datalake-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-azure-datalake-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-azure-datalake-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-client-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-client-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-client-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-common-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-datajoin-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-datajoin-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-datajoin-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-distcp-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-distcp-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-distcp-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-extras-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-extras-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-extras-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-gridmix-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-gridmix-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-gridmix-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-hdfs-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-hdfs-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-hdfs-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-hdfs-nfs-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-hdfs-nfs-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-hdfs-nfs-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-lzo-0.4.19.jar" name="hadoop-lzo-0.4.19.jar" mvn_uri="mvn:org.talend.libraries/hadoop-lzo-0.4.19/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-client-app-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-mapreduce-client-app-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-app-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-client-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-mapreduce-client-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-common-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-client-core-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-mapreduce-client-core-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-core-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-client-hs-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-mapreduce-client-hs-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-hs-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-client-hs-plugins-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-mapreduce-client-hs-plugins-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-hs-plugins-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-client-jobclient-2.6.0-qds-0.4.15-SNAPSHOT-tests.jar" name="hadoop-mapreduce-client-jobclient-2.6.0-qds-0.4.15-SNAPSHOT-tests.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-jobclient-2.6.0-qds-0.4.15-SNAPSHOT-tests/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-client-jobclient-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-mapreduce-client-jobclient-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-jobclient-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-client-nativetask-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-mapreduce-client-nativetask-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-nativetask-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-client-shuffle-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-mapreduce-client-shuffle-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-client-shuffle-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-mapreduce-examples-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-mapreduce-examples-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-mapreduce-examples-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-nfs-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-nfs-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-nfs-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-openstack-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-openstack-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-openstack-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-oracle-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-oracle-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-oracle-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-qubole-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-qubole-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-qubole-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-rumen-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-rumen-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-rumen-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-sls-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-sls-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-sls-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-streaming-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-streaming-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-streaming-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-streaming.jar" name="hadoop-streaming.jar" mvn_uri="mvn:org.talend.libraries/hadoop-streaming/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-api-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-api-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-api-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-applications-distributedshell-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-applications-distributedshell-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-applications-distributedshell-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-applications-unmanaged-am-launcher-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-applications-unmanaged-am-launcher-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-applications-unmanaged-am-launcher-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-client-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-client-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-client-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-common-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-registry-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-registry-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-registry-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-server-applicationhistoryservice-2.6.0-qds-0.4.14-SNAPSHOT.jar" name="hadoop-yarn-server-applicationhistoryservice-2.6.0-qds-0.4.14-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-server-applicationhistoryservice-2.6.0-qds-0.4.14-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-server-applicationhistoryservice-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-server-applicationhistoryservice-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-server-applicationhistoryservice-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-server-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-server-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-server-common-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-server-nodemanager-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-server-nodemanager-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-server-nodemanager-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-server-resourcemanager-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-server-resourcemanager-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-server-resourcemanager-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hadoop-yarn-server-web-proxy-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="hadoop-yarn-server-web-proxy-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/hadoop-yarn-server-web-proxy-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hamcrest-core-1.3.jar" name="hamcrest-core-1.3.jar" mvn_uri="mvn:org.talend.libraries/hamcrest-core-1.3/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="htrace-core-3.0.4.jar" name="htrace-core-3.0.4.jar" mvn_uri="mvn:org.talend.libraries/htrace-core-3.0.4/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="htrace-core-3.1.0-incubating.jar" name="htrace-core-3.1.0-incubating.jar" mvn_uri="mvn:org.talend.libraries/htrace-core-3.1.0-incubating/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="httpclient-4.5.2.jar" name="httpclient-4.5.2.jar" mvn_uri="mvn:org.talend.libraries/httpclient-4.5.2/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="httpcore-4.4.4.jar" name="httpcore-4.4.4.jar" mvn_uri="mvn:org.talend.libraries/httpcore-4.4.4/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jackson-core-asl-1.9.13.jar" name="jackson-core-asl-1.9.13.jar" mvn_uri="mvn:org.talend.libraries/jackson-core-asl-1.9.13/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jackson-jaxrs-1.9.13.jar" name="jackson-jaxrs-1.9.13.jar" mvn_uri="mvn:org.talend.libraries/jackson-jaxrs-1.9.13/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jackson-mapper-asl-1.9.13.jar" name="jackson-mapper-asl-1.9.13.jar" mvn_uri="mvn:org.talend.libraries/jackson-mapper-asl-1.9.13/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jackson-xc-1.9.13.jar" name="jackson-xc-1.9.13.jar" mvn_uri="mvn:org.talend.libraries/jackson-xc-1.9.13/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jasper-compiler-5.5.23.jar" name="jasper-compiler-5.5.23.jar" mvn_uri="mvn:org.talend.libraries/jasper-compiler-5.5.23/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jasper-runtime-5.5.23.jar" name="jasper-runtime-5.5.23.jar" mvn_uri="mvn:org.talend.libraries/jasper-runtime-5.5.23/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="java-xmlbuilder-0.4.jar" name="java-xmlbuilder-0.4.jar" mvn_uri="mvn:org.talend.libraries/java-xmlbuilder-0.4/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jaxb-api-2.2.2.jar" name="jaxb-api-2.2.2.jar" mvn_uri="mvn:org.talend.libraries/jaxb-api-2.2.2/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jaxb-impl-2.2.3-1.jar" name="jaxb-impl-2.2.3-1.jar" mvn_uri="mvn:org.talend.libraries/jaxb-impl-2.2.3-1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jersey-core-1.9.jar" name="jersey-core-1.9.jar" mvn_uri="mvn:org.talend.libraries/jersey-core-1.9/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jersey-json-1.9.jar" name="jersey-json-1.9.jar" mvn_uri="mvn:org.talend.libraries/jersey-json-1.9/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jersey-server-1.9.jar" name="jersey-server-1.9.jar" mvn_uri="mvn:org.talend.libraries/jersey-server-1.9/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jets3t-0.8.3a-qds-0.4.0.jar" name="jets3t-0.8.3a-qds-0.4.0.jar" mvn_uri="mvn:org.talend.libraries/jets3t-0.8.3a-qds-0.4.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jettison-1.1.jar" name="jettison-1.1.jar" mvn_uri="mvn:org.talend.libraries/jettison-1.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jetty-6.1.26.jar" name="jetty-6.1.26.jar" mvn_uri="mvn:org.talend.libraries/jetty-6.1.26/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jetty-util-6.1.26-emr.jar" name="jetty-util-6.1.26-emr.jar" mvn_uri="mvn:org.talend.libraries/jetty-util-6.1.26-emr/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jetty-util-6.1.26.jar" name="jetty-util-6.1.26.jar" mvn_uri="mvn:org.talend.libraries/jetty-util-6.1.26/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="joda-time-2.9.9.jar" name="joda-time-2.9.9.jar" mvn_uri="mvn:org.talend.libraries/joda-time-2.9.9/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jsch-0.1.42.jar" name="jsch-0.1.42.jar" mvn_uri="mvn:org.talend.libraries/jsch-0.1.42/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jsp-api-2.1.jar" name="jsp-api-2.1.jar" mvn_uri="mvn:org.talend.libraries/jsp-api-2.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jsr305-1.3.9.jar" name="jsr305-1.3.9.jar" mvn_uri="mvn:org.talend.libraries/jsr305-1.3.9/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jul-to-slf4j-1.7.5.jar" name="jul-to-slf4j-1.7.5.jar" mvn_uri="mvn:org.talend.libraries/jul-to-slf4j-1.7.5/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="junit-4.11.jar" name="junit-4.11.jar" mvn_uri="mvn:org.talend.libraries/junit-4.11/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="log4j-1.2.17.jar" name="log4j-1.2.17.jar" mvn_uri="mvn:org.talend.libraries/log4j-1.2.17/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="metrics-core-3.0.1.jar" name="metrics-core-3.0.1.jar" mvn_uri="mvn:org.talend.libraries/metrics-core-3.0.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="mockito-all-1.8.5.jar" name="mockito-all-1.8.5.jar" mvn_uri="mvn:org.talend.libraries/mockito-all-1.8.5/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="netty-3.6.2.Final.jar" name="netty-3.6.2.Final.jar" mvn_uri="mvn:org.talend.libraries/netty-3.6.2.Final/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="okhttp-2.4.0.jar" name="okhttp-2.4.0.jar" mvn_uri="mvn:org.talend.libraries/okhttp-2.4.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="okio-1.4.0.jar" name="okio-1.4.0.jar" mvn_uri="mvn:org.talend.libraries/okio-1.4.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="paranamer-2.3.jar" name="paranamer-2.3.jar" mvn_uri="mvn:org.talend.libraries/paranamer-2.3/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="protobuf-java-2.5.0.jar" name="protobuf-java-2.5.0.jar" mvn_uri="mvn:org.talend.libraries/protobuf-java-2.5.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="qubole-http-utils-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="qubole-http-utils-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/qubole-http-utils-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="qubole-shell-executor-2.6.0-qds-0.4.15-SNAPSHOT.jar" name="qubole-shell-executor-2.6.0-qds-0.4.15-SNAPSHOT.jar" mvn_uri="mvn:org.talend.libraries/qubole-shell-executor-2.6.0-qds-0.4.15-SNAPSHOT/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="qubole-shell-executor.jar" name="qubole-shell-executor.jar" mvn_uri="mvn:org.talend.libraries/qubole-shell-executor/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="servlet-api-2.5.jar" name="servlet-api-2.5.jar" mvn_uri="mvn:org.talend.libraries/servlet-api-2.5/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="slf4j-api-1.7.5.jar" name="slf4j-api-1.7.5.jar" mvn_uri="mvn:org.talend.libraries/slf4j-api-1.7.5/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="snappy-java-1.0.4.1.jar" name="snappy-java-1.0.4.1.jar" mvn_uri="mvn:org.talend.libraries/snappy-java-1.0.4.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="stax-api-1.0-2.jar" name="stax-api-1.0-2.jar" mvn_uri="mvn:org.talend.libraries/stax-api-1.0-2/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="xercesImpl-2.9.1.jar" name="xercesImpl-2.9.1.jar" mvn_uri="mvn:org.talend.libraries/xercesImpl-2.9.1/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="xmlenc-0.52.jar" name="xmlenc-0.52.jar" mvn_uri="mvn:org.talend.libraries/xmlenc-0.52/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="xz-1.0.jar" name="xz-1.0.jar" mvn_uri="mvn:org.talend.libraries/xz-1.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="zookeeper-3.4.6.jar" name="zookeeper-3.4.6.jar" mvn_uri="mvn:org.talend.libraries/zookeeper-3.4.6/6.0.0" />

        <!-- Hive related libraries -->
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jets3t-0.9.0" name="jets3t-0.9.0.jar" mvn_uri="mvn:org.talend.libraries/jets3t-0.9.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hive-jdbc-dataproc11" name="hive-jdbc-2.1.1-dataproc11.jar" mvn_uri="mvn:org.talend.libraries/hive-jdbc-2.1.1-dataproc11/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hive-service-dataproc11" name="hive-service-2.1.1-dataproc11.jar" mvn_uri="mvn:org.talend.libraries/hive-service-2.1.1-dataproc11/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hive-service-rpc-dataproc11" name="hive-service-rpc-2.1.1-dataproc11.jar" mvn_uri="mvn:org.talend.libraries/hive-service-rpc-2.1.1-dataproc11/6.0.0" />

        <!-- Pig related libraries 
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="jets3t-0.9.0" name="jets3t-0.9.0.jar" mvn_uri="mvn:org.talend.libraries/jets3t-0.9.0/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hive-jdbc-dataproc11" name="hive-jdbc-2.1.1-dataproc11.jar" mvn_uri="mvn:org.talend.libraries/hive-jdbc-2.1.1-dataproc11/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hive-service-dataproc11" name="hive-service-2.1.1-dataproc11.jar" mvn_uri="mvn:org.talend.libraries/hive-service-2.1.1-dataproc11/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="hive-service-rpc-dataproc11" name="hive-service-rpc-2.1.1-dataproc11.jar" mvn_uri="mvn:org.talend.libraries/hive-service-rpc-2.1.1-dataproc11/6.0.0" />
		-->

        <!-- Pig module group: define the jars loaded when we choose Qubole in tPigLoad -->
        <libraryNeededGroup description="Pig libraries for tPigLoad" id="HIVE-LIB-QUBOLE" name="HIVE-LIB-QUBOLE">
            <library id="qubole sdk pig" />
        </libraryNeededGroup>

        <!-- Big Data launcher libraries -->
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="talend-bigdata-launcher-1.2.1-20170511" name="talend-bigdata-launcher-1.2.1-20170511.jar" mvn_uri="mvn:org.talend.libraries/talend-bigdata-launcher-1.2.1-20170511/6.0.0" />
        <libraryNeeded context="plugin:org.talend.hadoop.distribution.qubole" id="talend-bigdata-launcher-1.2.2-20170613" name="talend-bigdata-launcher-1.2.2-20170613.jar" mvn_uri="mvn:org.talend.libraries/talend-bigdata-launcher-1.2.2-20170613/6.0.0" />

        <!-- Big Data launcher group -->
        <libraryNeededGroup description="Big Data launcher libraries for Qubole" id="BIGDATA-LAUNCHER-LIB-QUBOLE" name="BIGDATA-LAUNCHER-LIB-QUBOLE ">
            <library id="talend-bigdata-launcher-1.2.1-20170511" />
            <library id="google-api-client-1.22.0" />
            <library id="google-api-client-appengine-1.21.0" />
            <library id="google-api-client-servlet-1.21.0" />
            <library id="google-api-services-storage-v1-rev85-1.22.0" />
            <library id="google-api-services-dataproc-v1-rev46-1.22.0" />
            <library id="google-http-client-1.21.0" />
            <library id="google-http-client-appengine-1.21.0" />
            <library id="google-http-client-jackson-1.21.0" />
            <library id="google-http-client-jackson2-1.22.0" />
            <library id="google-oauth-client-1.22.0" />
            <library id="google-cloud-storage-0.9.4-beta" />
            <library id="google-cloud-core-0.9.4-alpha" />
            <library id="google-auth-library-credentials-0.6.0" />
            <library id="google-auth-library-oauth2-http-0.6.0" />
            <library id="gax-0.1.4" />
            <library id="json-20151123" />
            <library id="guava-19.0" />
            <library id="jackson-core-2.5.4" />
            <library id="jackson-core-asl-1.9.14-TALEND" />
            <library id="jackson-mapper-asl-1.9.14-TALEND" />
            <library id="commons-lang-2.6" />
        </libraryNeededGroup>

        <!-- Hive group -->
        <libraryNeededGroup description="Hive libraries for Qubole" id="HIVE-LIB-QUBOLE" name="HIVE-LIB-QUBOLE">
            <library id="jets3t-0.9.0" />
        </libraryNeededGroup>

        <!-- HDFS group -->
        <libraryNeededGroup description="HDFS libraries for Qubole" id="HDFS-LIB-QUBOLE" name="HDFS-LIB-QUBOLE">
            <library id="activation-1.1.1.jar" />
            <library id="apache-log4j-extras-1.2.17.jar" />
            <library id="apacheds-i18n-2.0.0-M15.jar" />
            <library id="apacheds-kerberos-codec-2.0.0-M15.jar" />
            <library id="api-asn1-api-1.0.0-M20.jar" />
            <library id="api-util-1.0.0-M20.jar" />
            <library id="asm-3.2.jar" />
            <library id="avro-1.7.4.jar" />
            <library id="azure-data-lake-store-sdk-2.1.4.jar" />
            <library id="bcprov-jdk14-1.38.jar" />
            <library id="commons-beanutils-1.7.0.jar" />
            <library id="commons-beanutils-core-1.8.0.jar" />
            <library id="commons-cli-1.2.jar" />
            <library id="commons-codec-1.4.jar" />
            <library id="commons-collections-3.2.2.jar" />
            <library id="commons-compress-1.4.1.jar" />
            <library id="commons-configuration-1.6.jar" />
            <library id="commons-daemon-1.0.13.jar" />
            <library id="commons-digester-1.8.jar" />
            <library id="commons-el-1.0.jar" />
            <library id="commons-httpclient-3.1.jar" />
            <library id="commons-io-2.4.jar" />
            <library id="commons-lang-2.6.jar" />
            <library id="commons-lang3-3.3.2.jar" />
            <library id="commons-logging-1.1.3.jar" />
            <library id="commons-math3-3.1.1.jar" />
            <library id="commons-net-3.1.jar" />
            <library id="curator-client-2.6.0.jar" />
            <library id="curator-framework-2.6.0.jar" />
            <library id="curator-recipes-2.6.0.jar" />
            <library id="gson-2.2.4.jar" />
            <library id="guava-11.0.2.jar" />
            <library id="hadoop-annotations-2.6.0-qds-0.4.14-SNAPSHOT.jar" />
            <library id="hadoop-ant-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-archives-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-auth-2.6.0-qds-0.4.14-SNAPSHOT.jar" />
            <library id="hadoop-aws-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-azure-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-azure-datalake-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-client-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-datajoin-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-distcp-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-extras-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-gridmix-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-hdfs-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-hdfs-nfs-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-lzo-0.4.19.jar" />
            <library id="hadoop-mapreduce-client-app-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-mapreduce-client-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-mapreduce-client-core-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-mapreduce-client-hs-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-mapreduce-client-hs-plugins-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-mapreduce-client-jobclient-2.6.0-qds-0.4.15-SNAPSHOT-tests.jar" />
            <library id="hadoop-mapreduce-client-jobclient-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-mapreduce-client-nativetask-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-mapreduce-client-shuffle-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-mapreduce-examples-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-nfs-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-openstack-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-oracle-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-qubole-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-rumen-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-sls-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-streaming-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-streaming.jar" />
            <library id="hadoop-yarn-api-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-applications-distributedshell-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-applications-unmanaged-am-launcher-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-client-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-registry-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-server-applicationhistoryservice-2.6.0-qds-0.4.14-SNAPSHOT.jar" />
            <library id="hadoop-yarn-server-applicationhistoryservice-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-server-common-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-server-nodemanager-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-server-resourcemanager-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hadoop-yarn-server-web-proxy-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="hamcrest-core-1.3.jar" />
            <library id="htrace-core-3.0.4.jar" />
            <library id="htrace-core-3.1.0-incubating.jar" />
            <library id="httpclient-4.5.2.jar" />
            <library id="httpcore-4.4.4.jar" />
            <library id="jackson-core-asl-1.9.13.jar" />
            <library id="jackson-jaxrs-1.9.13.jar" />
            <library id="jackson-mapper-asl-1.9.13.jar" />
            <library id="jackson-xc-1.9.13.jar" />
            <library id="jasper-compiler-5.5.23.jar" />
            <library id="jasper-runtime-5.5.23.jar" />
            <library id="java-xmlbuilder-0.4.jar" />
            <library id="jaxb-api-2.2.2.jar" />
            <library id="jaxb-impl-2.2.3-1.jar" />
            <library id="jersey-core-1.9.jar" />
            <library id="jersey-json-1.9.jar" />
            <library id="jersey-server-1.9.jar" />
            <library id="jets3t-0.8.3a-qds-0.4.0.jar" />
            <library id="jettison-1.1.jar" />
            <library id="jetty-6.1.26.jar" />
            <library id="jetty-util-6.1.26-emr.jar" />
            <library id="jetty-util-6.1.26.jar" />
            <library id="joda-time-2.9.9.jar" />
            <library id="jsch-0.1.42.jar" />
            <library id="jsp-api-2.1.jar" />
            <library id="jsr305-1.3.9.jar" />
            <library id="jul-to-slf4j-1.7.5.jar" />
            <library id="junit-4.11.jar" />
            <library id="log4j-1.2.17.jar" />
            <library id="metrics-core-3.0.1.jar" />
            <library id="mockito-all-1.8.5.jar" />
            <library id="netty-3.6.2.Final.jar" />
            <library id="okhttp-2.4.0.jar" />
            <library id="okio-1.4.0.jar" />
            <library id="paranamer-2.3.jar" />
            <library id="protobuf-java-2.5.0.jar" />
            <library id="qubole-http-utils-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="qubole-shell-executor-2.6.0-qds-0.4.15-SNAPSHOT.jar" />
            <library id="qubole-shell-executor.jar" />
            <library id="servlet-api-2.5.jar" />
            <library id="slf4j-api-1.7.5.jar" />
            <library id="snappy-java-1.0.4.1.jar" />
            <library id="stax-api-1.0-2.jar" />
            <library id="xercesImpl-2.9.1.jar" />
            <library id="xmlenc-0.52.jar" />
            <library id="xz-1.0.jar" />
            <library id="zookeeper-3.4.6.jar" />
        </libraryNeededGroup>

        <!-- Spark S3 group MRREQUIRED 
        <libraryNeededGroup
                description="Spark S3 libraries for Qubole that are MRREQUIRED"
                id="SPARK-S3-LIB-MRREQUIRED-QUBOLE"
                name="SPARK-S3-LIB-MRREQUIRED-QUBOLE">
            <library id="aws-java-sdk-s3-1.11.132.jar"/>
        </libraryNeededGroup> -->
        <!-- GraphFrames group MRREQUIRED 
        <libraryNeededGroup
                description="GraphFrames libraries for Qubole that are MRREQUIRED"
                id="SPARK-GRAPHFRAMES-LIB-MRREQUIRED-QUBOLE"
                name="SPARK-GRAPHFRAMES-LIB-MRREQUIRED-QUBOLE">
            <library id="graphframes-0.5.0-spark2.1-s_2.11.jar"/>
        </libraryNeededGroup> -->
        <!-- Map/Reduce group 
        <libraryNeededGroup
                description="Map/Reduce libraries for Qubole"
                id="MAPREDUCE-LIB-QUBOLE"
                name="MAPREDUCE-LIB-QUBOLE"  >
             <library id="hadoop-mapreduce-client-common-cdh5.10"/>
        </libraryNeededGroup> -->

    </extension>
    <extension point="org.talend.core.runtime.classloader_provider" />
</plugin>