<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        
        <!-- HDFS libraries -->    
        <!-- Spark libraries -->
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.ibms220"
            id="spark-assembly-ibms2.2.0"
            name="spark-assembly-1.6.1-hadoop2.6.0.jar"
            mvn_uri="mvn:org.talend.libraries/spark-assembly-1.6.1-hadoop2.6.0/6.2.0">
        </libraryNeeded>
        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.ibms220"
            id="spark-launcher-ibms2.2.0"
            name="spark-launcher_2.10-1.6.1.jar"
            mvn_uri="mvn:org.talend.libraries/spark-launcher_2.10-1.6.1/6.2.0">
        </libraryNeeded>

        <!--libraryNeeded
            context="plugin:org.talend.hadoop.distribution.ibms220"
            id="spark-yarn-shuffle-ibms2.2.0"
            name="spark-1.6.1-yarn-shuffle.jar"
            mvn_uri="mvn:org.talend.libraries/spark-1.6.1-yarn-shuffle/6.2.0">
        </libraryNeeded-->

        <!-- Third parties libraries -->
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.ibms220"
            id="datanucleus-rdbms"
            name="datanucleus-rdbms-3.2.9.jar"
            mvn_uri="mvn:org.talend.libraries/datanucleus-rdbms-3.2.9/6.2.0">
        </libraryNeeded>        

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.ibms220"
            id="datanucleus-core"
            name="datanucleus-core-3.2.10.jar"
            mvn_uri="mvn:org.talend.libraries/datanucleus-core-3.2.10/6.2.0">
        </libraryNeeded>        
                        
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.ibms220"
            id="datanucleus-api-jdo"
            name="datanucleus-api-jdo-3.2.6.jar"
            mvn_uri="mvn:org.talend.libraries/datanucleus-api-jdo-3.2.6/6.2.0">
        </libraryNeeded>        

        <!-- Groups -->
        
        <!-- HDFS group -->
        <libraryNeededGroup
                description="HDFS libraries for IBMS 2.2"
                id="HDFS-LIB-IBMS_2_2"
                name="HDFS-LIB-IBMS_2_2">
        </libraryNeededGroup>
        <!-- Spark group -->
        <libraryNeededGroup
                description="Spark libraries for IBMS 2.2"
                id="SPARK-LIB-IBMS_2_2"
                name="SPARK-LIB-IBMS_2_2">
             <library id="spark-assembly-ibms2.2.0" />
             <library id="spark-launcher-ibms2.2.0" />
             <!--library id="spark-yarn-shuffle-ibms2.2.0" /-->
             <library id="datanucleus-rdbms" />
             <library id="datanucleus-core" />
             <library id="datanucleus-api-jdo" />
        </libraryNeededGroup>
        
    </extension>
    <extension
          point="org.talend.core.runtime.classloader_provider">
      <!--classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5_7"
            libraries="hadoop-common-2.6.0-cdh5.7.0.jar;hadoop-hdfs-2.6.0-cdh5.7.0.jar;hadoop-auth-2.6.0-cdh5.7.0.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.2.jar;commons-cli-1.2.jar;commons-collections-3.2.2.jar;avro-1.7.6-cdh5.7.0.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;jackson-jaxrs-1.8.8.jar;jackson-xc-1.8.8.jar;guava-12.0.1.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;jersey-core-1.9.jar;htrace-core4-4.0.1-incubating.jar;servlet-api-2.5.jar;commons-io-2.4.jar;commons-codec-1.9.jar">
      </classloader>       
      <classloader
            index="HDFS:CLOUDERA:Cloudera_CDH5_7?USE_KRB"
            libraries="hadoop-common-2.6.0-cdh5.7.0.jar;hadoop-hdfs-2.6.0-cdh5.7.0.jar;hadoop-auth-2.6.0-cdh5.7.0.jar;commons-configuration-1.6.jar;commons-lang-2.6.jar;commons-logging-1.2.jar;commons-cli-1.2.jar;commons-collections-3.2.2.jar;avro-1.7.6-cdh5.7.0.jar;jackson-mapper-asl-1.8.8.jar;jackson-core-asl-1.8.8.jar;jackson-jaxrs-1.8.8.jar;jackson-xc-1.8.8.jar;guava-12.0.1.jar;protobuf-java-2.5.0.jar;slf4j-api-1.7.5.jar;slf4j-log4j12-1.7.5.jar;log4j-1.2.17.jar;jersey-core-1.9.jar;htrace-core4-4.0.1-incubating.jar;servlet-api-2.5.jar;commons-io-2.4.jar;commons-codec-1.9.jar;hadoop-conf-kerberos.jar">
      </classloader-->
    </extension>
</plugin>
